*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f5f5f5;
    color:#333;
}

nav{
    background:#111;
    color:#fff;
    display:flex;
    justify-content:space-between;
    padding:15px 50px;
    position:sticky;
    top:0;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.home{
    height:60vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#333;
    color:white;
    text-align:center;
}

.home span{
    color:#00adb5;
}

button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    background:#00adb5;
    color:white;
    cursor:pointer;
    font-size:16px;
}

section{
    padding:60px 80px;
}

.skills span{
    display:inline-block;
    background:#00adb5;
    color:white;
    padding:8px 15px;
    margin:8px;
    border-radius:20px;
}

.project{
    background:white;
    padding:20px;
    margin-top:15px;
    border-radius:5px;
}

footer{
    text-align:center;
    padding:20px;
    background:#111;
    color:white;
}

.resume-btn{
    display:inline-block;
    margin-top:15px;
    padding:10px 22px;
    background:#00adb5;
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

.resume-btn:hover{
    background:#007f86;
}


.fa-github {
    font-size: 20px;
    color: #000;
    margin-left: 6px;
}
